<h1>Earn Ad Points</h1>
<p>You can earn points by watching ads. You can then use these points to get discounted online content and theatre tickets.</p>
<p>Based on your profile, we have identified the following advertisements for you. For every 30 seconds, you earn 5 points.</p>
<p>Happy watching!</p>
<h2>Identified videos</h2>
Ad videos on the way!