<h1>Our Recommendations</h1>
<p>Based on your interests (specified in the profile), movies watched by your friends and your browsing history, here are the movies that we suggest.</p>
<table>
<tr><td><a href="/movies/1">Fifty Shades of Grey</a></td></tr>
<tr><td><a href="/movies/2">Kingsman: The Secret Service</a></td></tr>
<tr><td><a href="/movies/3">Hot Tub Time Machine 2</a></td></tr>
<tr><td><a href="/movies/8">American Hustle</a></td></tr>
<tr><td><a href="/movies/5">McFarland, USA</a></td></tr>
</tr>
</table>


